DEBUG=1
DB_TYPE=mysql
DB_USERNAME=root
DB_PASSWORD=my_secret_password
DB_HOST=music_teams_db
DB_DATABASE=music_teams
SECRET_KEY=place_your_secret_key_here
ALGORITHM=HS256
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
JWT_SECRET_KEY=jwt_secret_key_for_token_encoding
REDIRECT_URL=http://127.0.0.1:8000/google_login/auth
FRONTEND_URL=http://127.0.0.1:8000/home
MODE=DEVELOPMENT