fastapi[standard]
python-dotenv
requests
SQLAlchemy

# Database drivers
psycopg2-binary
pymysql

# testing
pytest

# web framework
uvicorn

# Session and token handling
itsdangerous
# werkzeug
# cryptography

# JWT and OAuth libraries
python-jose[cryptography]
authlib
# pyjwt
# google-auth

# # google auth - for Google API
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib