<h1 style="color: blue;"> Welcome to Music Teams (Demo) API  </h1>

<p> The functional API endpoints are listed below </p><br>

<a href="/API/home">Home page with all songs of the demo team (GET, POST)</a><br><br>

<a href="/API/add-song">Add song (GET, POST)</a><br><br>

<a href="/API/4/add-chords">Add chords (GET, POST)</a> 
<br> &emsp; &emsp; Example: <em>/API/4/add-chords</em> <br>
&emsp;&emsp; <strong>parameter: song_id </strong> (in the example it is 4)<br><br>

<a href="/API/4/song-transpose">Song Transpose (GET, POST)</a>
<br> &emsp; &emsp; Example: <em>/API/4/song-transpose</em> <br>
&emsp;&emsp; <strong>parameter: song_id </strong> (in the example it is 4)<br><br>

<p> <strong style="color: blue;">Web Scrape</strong> from Given HTML (Greek Lyrics)  (POST) <br>
    &emsp; &emsp; <em>/API/webscrape </em> <br>
    &emsp; &emsp; POST body: <strong>HTML</strong> from greek lyrics site (text/html) </p>

<p> <strong style="color: blue;">Upload Recording file</strong>   (POST) <br>
    &emsp; &emsp; Example:  <em>/API/4/upload  </em> <br>
    &emsp; &emsp; request.files &emsp; <strong>  Recording File </strong>  </p>

<p> <strong style="color: blue;">Make Song Demand</strong>   (POST) <br>
    &emsp; &emsp; <em>/API/make-song-demand  </em> <br>
    &emsp; &emsp; POST body: &emsp; JSON with a field <strong> 'title'  </strong>  </p>  

<a href="/API/recent-song-demands">Recent Song Demands (Most recent first) (GET)</a><br><br>